.loading {
  align-items: center;
  color: $grey-light;
  display: flex;
  font-size: 3rem;
  height: 24rem;
  justify-content: center;
  width: 100%;

  .loader-ring {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
  }
  .loader-ring:after {
    content: " ";
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
    border-radius: 50%;
    border: 3px solid $grey;
    border-color: $grey transparent $grey transparent;
    animation: loader-ring 1.2s linear infinite;
  }

  @keyframes loader-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
